<footer>
    <div class="footer-socialbar">
        <div class="container">
            <div class="social-bar">
                <div class="section-title">
                    <p>Get Social</p>
                </div>
                <ul class="social-list">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-contact">
                <span>Have a project in mind ?</span>
                <a href="#" class="white-btn">Get In Touch</a>
            </div>
        </div>
    </div>
    <div class="footer-subscribe">
        <div class="container">
            <div class="subscribe-desc"><b>Maks Digital Monthly:</b> The month’s best web design & marketing resources delivered to you.</div>
            <form class="subscribe-form">
                <input type="email" name="email" placeholder="your email address" required>
                <input type="submit" value=" ">
            </form>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="main-footer_block contact">
                <a href="#" class="logo">
                    <img src="images/footer-logo.png" alt="Maks digital">
                    <h2>Maks Digital</h2>
                </a>
                <div class="company-contact">
                    <div class="contact-item phone ic-sprite">
                        <a href="tel:5154508442">515 450 8442</a>
                    </div>
                    <div class="contact-item email ic-sprite">
                        <a href="mailto:info@maksdigital.com">info@maksdigital.com</a>
                    </div>
                    <div class="contact-item social ic-sprite">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-footer_block service">
                <div class="section-title">
                    <p>Our Services</p>
                </div>
                <ul class="services-list">
                    <li><a href="#">Website Design</a></li>
                    <li><a href="#">Web Application Design</a></li>
                    <li><a href="#">Branding & Strategy</a></li>
                    <li><a href="#">Logo & Identity Systems</a></li>
                    <li><a href="#">Social</a></li>
                    <li><a href="#">Front and Backend Web</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">iOS (iPhone & iPad) Development</a></li>
                    <li><a href="#">Android Development</a></li>
                </ul>
            </div>
            <div class="main-footer_block event">
                <div class="section-title">
                    <p>WHATS HAPPENING</p>
                </div>
                <a href="#" class="event-item">
                    <h4 class="event-title">Launcing our new website</h4>
                    <p class="event-desc">1st September 2018 by admin</p>
                </a>
                <a href="#" class="event-item">
                    <h4 class="event-title">IOWA Builders Website Signed</h4>
                    <p class="event-desc">21st August 2018 by admin</p>
                </a>
                <a href="#" class="white-btn mb-hide">Discover More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-copyright">
            <p>
                © 2018 Maks Digital. All Rights Reserved.    
                <a href="#">Terms</a>   
                <a href="#">Sitemap</a>   
                <a href="#">Services</a>
            </p>
            <div class="in-top ic-sprite">Back To Top</div>
        </div>
    </div>
</footer>