<header>
    <div class="section-backdrop">
        <div class="section-backdrop-overlay"></div>
        <div class="section-backdrop-image" style="background-image: url(images/header-bg.jpg)"></div>
    </div>
    <div class="top-header">
        <div class="container">
            <a href="#" class="show-menu mb-show">
                <span class="main-line"></span>
            </a>
            <nav class="top-header_nav">
                <ul class="top-header_menu">
                    <li><b>Call</b> <a href="tel:5154508442">515 450 8442</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main-header">
        //=./info-block.html
        <div class="container">
            <h1 class="logo"><a href="index.html"><img src="images/header-logo.png" alt="MAKS DIGITAL"></a></h1>
            <nav class="main-header_nav">
                <ul class="main-header_menu">
                    <li class="mb-show">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="portfolio.html">Portfolio</a>
                    </li>
                    <li class="mb-show">
                        <a href="blog.html">Blog</a>
                    </li>
                    <li class="mb-show">
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="action-btn mb-hide">
                <a href="#" class="info-link ic-sprite"></a>
                <a href="#" class="start_project-link btn-colored">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.2012 3.23588L10.7663 0.0322085C10.543 -0.0107362 10.3626 -0.0107362 10.1865 0.0322085L0.747297 3.24017C-0.0214122 3.47637 6.01114e-05 4.08189 6.01114e-05 4.09907V16.4285C6.01114e-05 16.7849 0.223372 17.0984 0.579813 17.2315L10.1865 20.9377C10.3583 21.0107 10.7233 20.9806 10.8135 20.9377L20.4202 17.2358C20.7767 17.1027 21 16.7892 21 16.4328V4.09907C21 3.83281 20.8368 3.31748 20.2012 3.23588ZM10.5 1.77576L17.5601 4.14201L10.5 6.82605L3.43993 4.14201L10.5 1.77576ZM1.74361 15.8058V5.396L9.60678 8.38924V18.842L1.74361 15.8058ZM19.2564 15.8058L11.3933 18.842V8.41501L19.2564 5.396V15.8058V15.8058Z"/>
                    </svg>
                    Start New Project
                </a>
            </div>
        </div>
    </div>
    <div class="carousel-wrapper">
        <div class="main-carousel">
            <div class="carousel_item">
                <div class="container">
                    <div class="carousel-item_content" data-animation="fadeInLeft" data-delay="0.2s">
                        <h1>WE ARE DIGITAL THINKERS</h1>
                        <h2>All challenges accepted</h2>
                        <p>From building the design architecture to selecting colors, typography and content, we offer everything you need to build and boost your digital brand within your targeted consumer audience.</p>
                        <a href="#" class="start_project-link btn-colored">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.2012 3.23588L10.7663 0.0322085C10.543 -0.0107362 10.3626 -0.0107362 10.1865 0.0322085L0.747297 3.24017C-0.0214122 3.47637 6.01114e-05 4.08189 6.01114e-05 4.09907V16.4285C6.01114e-05 16.7849 0.223372 17.0984 0.579813 17.2315L10.1865 20.9377C10.3583 21.0107 10.7233 20.9806 10.8135 20.9377L20.4202 17.2358C20.7767 17.1027 21 16.7892 21 16.4328V4.09907C21 3.83281 20.8368 3.31748 20.2012 3.23588ZM10.5 1.77576L17.5601 4.14201L10.5 6.82605L3.43993 4.14201L10.5 1.77576ZM1.74361 15.8058V5.396L9.60678 8.38924V18.842L1.74361 15.8058ZM19.2564 15.8058L11.3933 18.842V8.41501L19.2564 5.396V15.8058V15.8058Z"/>
                            </svg>
                            Start New Project
                        </a>
                    </div>
                    <div class="carousel-item_image" data-animation="fadeInRight" data-delay="0.2s">
                        <img src="images/device-img.png" class="img-responsive" alt=" ">
                    </div>
                </div>
            </div>
            <div class="carousel_item">
                <div class="container">
                    <div class="carousel-item_content" data-animation="fadeInLeft" data-delay="0.2s">
                        <h1>WE ARE DIGITAL THINKERS</h1>
                        <h2>All challenges accepted</h2>
                        <p>From building the design architecture to selecting colors, typography and content, we offer everything you need to build and boost your digital brand within your targeted consumer audience.</p>
                        <a href="#" class="start_project-link btn-colored">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.2012 3.23588L10.7663 0.0322085C10.543 -0.0107362 10.3626 -0.0107362 10.1865 0.0322085L0.747297 3.24017C-0.0214122 3.47637 6.01114e-05 4.08189 6.01114e-05 4.09907V16.4285C6.01114e-05 16.7849 0.223372 17.0984 0.579813 17.2315L10.1865 20.9377C10.3583 21.0107 10.7233 20.9806 10.8135 20.9377L20.4202 17.2358C20.7767 17.1027 21 16.7892 21 16.4328V4.09907C21 3.83281 20.8368 3.31748 20.2012 3.23588ZM10.5 1.77576L17.5601 4.14201L10.5 6.82605L3.43993 4.14201L10.5 1.77576ZM1.74361 15.8058V5.396L9.60678 8.38924V18.842L1.74361 15.8058ZM19.2564 15.8058L11.3933 18.842V8.41501L19.2564 5.396V15.8058V15.8058Z"/>
                            </svg>
                            Start New Project
                        </a>
                    </div>
                    <div class="carousel-item_image" data-animation="fadeInRight" data-delay="0.2s">
                        <img src="images/device-img.png" class="img-responsive" alt=" ">
                    </div>
                </div>
            </div>
            <div class="carousel_item">
                <div class="container">
                    <div class="carousel-item_content" data-animation="fadeInLeft" data-delay="0.2s">
                        <h1>WE ARE DIGITAL THINKERS</h1>
                        <h2>All challenges accepted</h2>
                        <p>From building the design architecture to selecting colors, typography and content, we offer everything you need to build and boost your digital brand within your targeted consumer audience.</p>
                        <a href="#" class="start_project-link btn-colored">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.2012 3.23588L10.7663 0.0322085C10.543 -0.0107362 10.3626 -0.0107362 10.1865 0.0322085L0.747297 3.24017C-0.0214122 3.47637 6.01114e-05 4.08189 6.01114e-05 4.09907V16.4285C6.01114e-05 16.7849 0.223372 17.0984 0.579813 17.2315L10.1865 20.9377C10.3583 21.0107 10.7233 20.9806 10.8135 20.9377L20.4202 17.2358C20.7767 17.1027 21 16.7892 21 16.4328V4.09907C21 3.83281 20.8368 3.31748 20.2012 3.23588ZM10.5 1.77576L17.5601 4.14201L10.5 6.82605L3.43993 4.14201L10.5 1.77576ZM1.74361 15.8058V5.396L9.60678 8.38924V18.842L1.74361 15.8058ZM19.2564 15.8058L11.3933 18.842V8.41501L19.2564 5.396V15.8058V15.8058Z"/>
                            </svg>
                            Start New Project
                        </a>
                    </div>
                    <div class="carousel-item_image" data-animation="fadeInRight" data-delay="0.2s">
                        <img src="images/device-img.png" class="img-responsive" alt=" ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>